/**
 * Foundation
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media (max-width: 599.9px) {
  html {
    font-size: 3.84vw;
  }
}

body {
  position: relative;
  margin: 0;
  background-color: #ffffff;
  color: #0062af;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.33rem;
}

h4 {
  font-size: 1.17rem;
}

h5 {
  font-weight: bold;
  font-size: 1rem;
}

h6 {
  font-weight: bold;
  font-size: 0.875rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

li {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.875rem;
  line-height: 2.025;
  letter-spacing: 0.04rem;
}

blockquote {
  margin-top: 0;
  margin-bottom: 0.75rem;
  padding-left: 1em;
  border-left: 4px solid #0062af;
}
blockquote p, blockquote cite {
  font-style: italic;
  font-size: 0.875rem;
  line-height: 2.025;
  letter-spacing: 0.04rem;
}

a, a:active {
  color: #0062af;
  text-decoration: none;
}
a:hover, a:focus {
  color: #0062af;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  display: block;
  margin: 0 auto 0.75rem;
}

figcaption {
  font-size: 0.875rem;
  line-height: 2.025;
  letter-spacing: 0.04rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;
}

/**
 * Layout
 */
.areamap__items, .collecting__container, .intro__container, .header__content, .footer__image, .--flexItem_12, .--flexItem_11, .--flexItem_10, .--flexItem_9, .--flexItem_8, .--flexItem_7, .--flexItem_6, .--flexItem_5, .--flexItem_4, .--flexItem_3, .--flexItem_2, .areamap__item, .intro__image, .intro__lead {
  position: relative;
  flex: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.--flexItem_12, .--flexItem_11, .--flexItem_10, .--flexItem_9, .--flexItem_8, .--flexItem_7, .--flexItem_6, .--flexItem_5, .--flexItem_4, .--flexItem_3, .--flexItem_2, .areamap__item, .intro__image, .intro__lead {
  padding-left: 30px;
  padding-right: 30px;
}

.footer__image {
  padding-left: clamp(30px, 5%, 40px);
  padding-right: clamp(30px, 5%, 40px);
}

.areamap__items, .collecting__container, .intro__container, .header__content {
  padding-left: clamp(30px, 5%, 50px);
  padding-right: clamp(30px, 5%, 50px);
}

/**
 * Layout - Header
 */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #efed72;
}
@media (min-width: 800px) {
  .header {
    min-height: 100vh;
  }
}
.header__content {
  max-width: 1000px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.header__titleWrap {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 20% 5% 50% 5% 18%;
}
.header__title {
  grid-row: 1;
  grid-column: 3;
}
.header__subTitle {
  grid-row: 1;
  grid-column: 5;
}

/**
 * Layout - Main
 */
.main {
  padding: 3rem 0;
}

/**
 * Layout - Footer
 */
.footer__image {
  max-width: 800px;
}
.footer__title {
  width: 100%;
  max-width: 18rem;
  margin: auto;
}
.footer__book {
  width: 16.875rem;
  height: 28.125rem;
  margin: auto;
  padding: 3rem;
}
@media (min-width: 800px) {
  .footer__book {
    position: absolute;
    top: 0;
    left: 3rem;
    z-index: 1;
    bottom: 0;
  }
}
.footer__book img {
  box-shadow: 6px 6px 6px #808080;
  transform: rotate(9deg);
}
.footer__issue, .footer__cooperation {
  margin: 9rem 0;
  text-align: center;
}
.footer__heading {
  margin: 1.5rem auto;
  color: #4d4d4d;
  font-size: min(3.36vw, 0.875rem);
}
.footer__fukui {
  color: #da4823;
  font-weight: 700;
  font-size: min(3.36vw, 0.875rem);
}
.footer__fukuiGoodmark {
  width: 6rem;
  margin: 1.5rem auto;
}
.footer__logo {
  width: 18rem;
  margin: 1.5rem auto;
}

/**
 * Component - Button
 */
.btn {
  display: block;
  width: 12rem;
  margin: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.btn:hover {
  opacity: 0.85;
}
.btn.--darkest {
  background-color: #262626;
  color: #ffffff;
}
.btn.--darker {
  background-color: #4d4d4d;
  color: #ffffff;
}
.btn.--dark {
  background-color: #808080;
  color: #ffffff;
}
.btn.--light {
  background-color: #b3b3b3;
  color: #262626;
}
.btn.--lighter {
  background-color: #d9d9d9;
  color: #262626;
}
.btn.--lightest {
  background-color: #ffffff;
  color: #262626;
}
.btn.--primaryDark {
  background-color: #0062af;
  color: #ffffff;
}
.btn.--primary {
  background-color: #00b3ec;
  color: #ffffff;
}
.btn.--primaryLight {
  background-color: #d6f3ff;
  color: #262626;
}
.btn.--secondary {
  background-color: #efed72;
  color: #262626;
}
.btn.--tertiary {
  background-color: #0b783b;
  color: #ffffff;
}
.btn.--quaternary {
  background-color: #da4823;
  color: #ffffff;
}

/**
 * Component - Form
 */
.form {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.form label {
  display: block;
}
.form input[type=text], .form input[type=tel], .form input[type=url], .form input[type=email], .form input[type=password], .form input[type=file], .form select, .form optgroup, .form textarea {
  display: block;
  width: 100%;
  margin-top: 0.375rem;
  margin-bottom: 0.75rem;
  padding-left: 8px;
  padding-right: 8px;
}
.form input[type=text], .form input[type=tel], .form input[type=url], .form input[type=email], .form input[type=password], .form input[type=file], .form select, .form optgroup {
  height: 1.8rem;
}
.form input[type=file] {
  outline: 0;
}
.form textarea {
  padding-top: 8px;
  padding-top: 8px;
  resize: vertical;
}
.form [type=button], .form [type=reset], .form [type=submit] {
  display: block;
  background-color: #00b3ec;
  color: #ffffff;
  display: block;
  width: 12rem;
  margin: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.form [type=button]:hover, .form [type=reset]:hover, .form [type=submit]:hover {
  opacity: 0.85;
}

/**
 * Component - Table
 */
.table {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.table thead {
  border: 0;
}
.table tr {
  border-bottom: 1px solid #d9d9d9;
}
.table tr:first-child {
  border-top: 1px solid #d9d9d9;
}
.table th, .table td {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: 0;
  font-size: 0.875rem;
  line-height: 2.025;
  letter-spacing: 0.04rem;
}

/**
 * Project - Section
 */
.areamap, .collecting, .intro {
  padding: 3rem 0;
}

.collecting__container, .intro__container {
  max-width: 1000px;
}

/**
 * Project - Intro
 */
.intro__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.intro__lead {
  font-weight: 700;
  font-size: min(4.32vw, 1.5rem);
}
@media (min-width: 800px) {
  .intro__lead {
    flex: 5 1 28.125rem;
  }
}
.intro__lead p {
  max-width: 30rem;
  margin: 0 -30px;
}
@media (min-width: 800px) {
  .intro__lead p {
    margin: 0 auto;
  }
}
.intro__image {
  flex: 0 1 16.875rem;
  padding: 3rem;
}
@media (min-width: 800px) {
  .intro__image {
    flex: 2 1 11.25rem;
  }
}
.intro__image img {
  box-shadow: 6px 6px 6px #808080;
  transform: rotate(9deg);
}
.intro__passport {
  padding: 3rem 0;
}
.intro__passover {
  margin: 1.5rem -1.5rem;
  font-size: min(3.36vw, 0.875rem);
  text-align: center;
}
.intro__passlimit {
  margin: 1.5rem auto;
  font-size: min(3.84vw, 1rem);
  text-align: center;
}
.intro__passnote {
  margin: 1.5rem auto;
  font-weight: 700;
  font-size: min(3.84vw, 1rem);
  text-align: center;
}
.intro__passterms {
  list-style-type: square;
  max-width: 33.75rem;
  margin: 1.5rem auto;
  padding: 0 1rem;
  font-size: min(3.36vw, 0.875rem);
  text-align: justify;
}
.intro__passterm {
  margin-bottom: 0;
}

/**
 * Project - Collecting
 */
.collecting__heading {
  margin: 1.5rem -0.375rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}
.collecting__heading span {
  font-size: 80%;
}
.collecting__heading span::before, .collecting__heading span::after {
  content: "\\";
  padding: 0 1rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 100;
  font-size: 3rem;
  vertical-align: sub;
}
.collecting__heading span::after {
  content: "/";
}
.collecting__subheading {
  margin-bottom: 1.5rem;
  font-size: min(3.36vw, 0.875rem);
  text-align: center;
}
.collecting__stampWrap {
  position: relative;
}
.collecting__stampLabel {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 25%;
}

/**
 * Project - Area Map
 */
.areamap__heading {
  margin-bottom: 1.5rem;
  text-align: center;
}
.areamap__heading img {
  width: 12rem;
}
.areamap__description {
  margin-bottom: 1.5rem;
  font-size: min(3.36vw, 0.875rem);
  text-align: center;
}
.areamap__map {
  max-width: 1000px;
  margin: 1.5rem auto 6rem;
}
@media (min-width: 1000px) {
  .areamap__map {
    padding-left: clamp(30px, 5%, 50px);
    padding-right: clamp(30px, 5%, 50px);
  }
}
.areamap__items {
  list-style: none;
  padding-left: 0;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}
@media (min-width: 1000px) {
  .areamap__items {
    padding-left: min(2%, 20px);
    padding-right: min(2%, 20px);
  }
}
.areamap__item {
  flex: 0 1 67.5rem;
  margin: 3rem auto;
}
@media (min-width: 800px) {
  .areamap__item {
    flex: 4 1 22.5rem;
  }
}
@media (min-width: 800px) {
  .areamap__item {
    max-width: 50%;
  }
}
.areamap__item:last-child {
  margin-left: 0;
}
.areamap__itemImage {
  text-align: center;
}
.areamap__itemTitle {
  font-weight: 700;
  line-height: 1.2;
}
.areamap__itemDesc {
  font-size: min(3.36vw, 0.875rem);
  text-align: justify;
  line-height: 1.5;
}
.areamap__itemDesc:first-of-type {
  font-weight: 700;
}
.areamap__itemDesc.--primary {
  color: #4d4d4d;
}
.areamap__itemDesc a:hover {
  text-decoration: underline;
}

/**
 * Apply Button
 */
.applyButton {
  background-color: #00b3ec;
  color: #ffffff;
  display: block;
  width: 12rem;
  margin: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  position: relative;
  width: 100%;
  display: block;
  border-radius: 1.5rem;
  background-color: #efed72;
  color: #0062af;
  font-weight: 700;
  font-size: min(4.32vw, 1.5rem);
}
.applyButton:hover {
  opacity: 0.85;
}
.applyButton.--foot {
  width: 100%;
  max-width: 36rem;
  padding: 1.5rem 0;
}
@media (min-width: 800px) {
  .applyButton__inner {
    padding-left: 6rem;
  }
}
.applyButton__wrap {
  position: relative;
  margin-top: 0.75rem;
}
@media (min-width: 800px) {
  .applyButton__apply::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3.75rem;
    height: 2rem;
    margin: auto 1.5rem;
    background: url("./assets/pennant.svg") no-repeat center center;
  }
}
.applyButton:hover {
  opacity: 0.7;
}

/**
 * Project - Cover
 */
.cover {
  position: absolute;
  top: 62.5vw;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% - 62.5vw);
  margin: auto;
  background-image: url("./assets/bgRepeat.svg");
}
@media (min-width: 800px) {
  .cover {
    top: 100vh;
    height: calc(100% - 100vh);
  }
}

/**
 * Utility - Flex
 */
.--flex_center {
  justify-content: center !important;
}
.--flex_left {
  justify-content: flex-start !important;
}
.--flex_right {
  justify-content: flex-end !important;
}
.--flex_around {
  justify-content: space-around !important;
}
.--flex_between {
  justify-content: space-between !important;
}
.--flex_center {
  align-items: center !important;
}
.--flex_top {
  align-items: flex-start !important;
}
.--flex_stretch {
  align-items: stretch !important;
}
.--flex_gap-0 {
  gap: 0 !important;
}
.--flex_gap-1 {
  gap: 0.375rem !important;
}
.--flex_gap-2 {
  gap: 0.75rem !important;
}
.--flex_gap-3 {
  gap: 1.5rem !important;
}
.--flex_gap-4 {
  gap: 3rem !important;
}
.--flex_gap-5 {
  gap: 6rem !important;
}
@media (min-width: 600px) {
  .--flex_sm-center {
    justify-content: center !important;
  }
  .--flex_sm-left {
    justify-content: flex-start !important;
  }
  .--flex_sm-right {
    justify-content: flex-end !important;
  }
  .--flex_sm-around {
    justify-content: space-around !important;
  }
  .--flex_sm-between {
    justify-content: space-between !important;
  }
  .--flex_sm-center {
    align-items: center !important;
  }
  .--flex_sm-top {
    align-items: flex-start !important;
  }
  .--flex_sm-stretch {
    align-items: stretch !important;
  }
  .--flex_gap-sm-0 {
    gap: 0 !important;
  }
  .--flex_gap-sm-1 {
    gap: 0.375rem !important;
  }
  .--flex_gap-sm-2 {
    gap: 0.75rem !important;
  }
  .--flex_gap-sm-3 {
    gap: 1.5rem !important;
  }
  .--flex_gap-sm-4 {
    gap: 3rem !important;
  }
  .--flex_gap-sm-5 {
    gap: 6rem !important;
  }
}
@media (min-width: 800px) {
  .--flex_md-center {
    justify-content: center !important;
  }
  .--flex_md-left {
    justify-content: flex-start !important;
  }
  .--flex_md-right {
    justify-content: flex-end !important;
  }
  .--flex_md-around {
    justify-content: space-around !important;
  }
  .--flex_md-between {
    justify-content: space-between !important;
  }
  .--flex_md-center {
    align-items: center !important;
  }
  .--flex_md-top {
    align-items: flex-start !important;
  }
  .--flex_md-stretch {
    align-items: stretch !important;
  }
  .--flex_gap-md-0 {
    gap: 0 !important;
  }
  .--flex_gap-md-1 {
    gap: 0.375rem !important;
  }
  .--flex_gap-md-2 {
    gap: 0.75rem !important;
  }
  .--flex_gap-md-3 {
    gap: 1.5rem !important;
  }
  .--flex_gap-md-4 {
    gap: 3rem !important;
  }
  .--flex_gap-md-5 {
    gap: 6rem !important;
  }
}
@media (min-width: 1000px) {
  .--flex_lg-center {
    justify-content: center !important;
  }
  .--flex_lg-left {
    justify-content: flex-start !important;
  }
  .--flex_lg-right {
    justify-content: flex-end !important;
  }
  .--flex_lg-around {
    justify-content: space-around !important;
  }
  .--flex_lg-between {
    justify-content: space-between !important;
  }
  .--flex_lg-center {
    align-items: center !important;
  }
  .--flex_lg-top {
    align-items: flex-start !important;
  }
  .--flex_lg-stretch {
    align-items: stretch !important;
  }
  .--flex_gap-lg-0 {
    gap: 0 !important;
  }
  .--flex_gap-lg-1 {
    gap: 0.375rem !important;
  }
  .--flex_gap-lg-2 {
    gap: 0.75rem !important;
  }
  .--flex_gap-lg-3 {
    gap: 1.5rem !important;
  }
  .--flex_gap-lg-4 {
    gap: 3rem !important;
  }
  .--flex_gap-lg-5 {
    gap: 6rem !important;
  }
}

/**
 * Utility - Flex Item
 */
.--flexItem_2 {
  flex: 2 1 11.25rem;
}
.--flexItem_3 {
  flex: 3 1 16.875rem;
}
.--flexItem_4 {
  flex: 4 1 22.5rem;
}
.--flexItem_5 {
  flex: 5 1 28.125rem;
}
.--flexItem_6 {
  flex: 6 1 33.75rem;
}
.--flexItem_7 {
  flex: 7 1 39.375rem;
}
.--flexItem_8 {
  flex: 8 1 45rem;
}
.--flexItem_9 {
  flex: 9 1 50.625rem;
}
.--flexItem_10 {
  flex: 10 1 56.25rem;
}
.--flexItem_11 {
  flex: 11 1 61.875rem;
}
.--flexItem_12 {
  flex: 12 1 67.5rem;
}
.--flexItem_order-0 {
  order: 0;
}
.--flexItem_order-1 {
  order: 1;
}
.--flexItem_order-2 {
  order: 2;
}
.--flexItem_order-3 {
  order: 3;
}
@media (min-width: 600px) {
  .--flexItem_order-sm-0 {
    order: 0;
  }
  .--flexItem_order-sm-1 {
    order: 1;
  }
  .--flexItem_order-sm-2 {
    order: 2;
  }
  .--flexItem_order-sm-3 {
    order: 3;
  }
}
@media (min-width: 800px) {
  .--flexItem_order-md-0 {
    order: 0;
  }
  .--flexItem_order-md-1 {
    order: 1;
  }
  .--flexItem_order-md-2 {
    order: 2;
  }
  .--flexItem_order-md-3 {
    order: 3;
  }
}
@media (min-width: 1000px) {
  .--flexItem_order-lg-0 {
    order: 0;
  }
  .--flexItem_order-lg-1 {
    order: 1;
  }
  .--flexItem_order-lg-2 {
    order: 2;
  }
  .--flexItem_order-lg-3 {
    order: 3;
  }
}

/**
 * Utility - Spacing
 */
.--m_0 {
  margin: 0 !important;
}

.--m_1 {
  margin: 0.375rem !important;
}

.--m_2 {
  margin: 0.75rem !important;
}

.--m_3 {
  margin: 1.5rem !important;
}

.--m_4 {
  margin: 3rem !important;
}

.--m_5 {
  margin: 6rem !important;
}

.--m_sm-0 {
  margin: 0 !important;
}

.--m_sm-1 {
  margin: 0.375rem !important;
}

.--m_sm-2 {
  margin: 0.75rem !important;
}

.--m_sm-3 {
  margin: 1.5rem !important;
}

.--m_sm-4 {
  margin: 3rem !important;
}

.--m_sm-5 {
  margin: 6rem !important;
}

.--m_md-0 {
  margin: 0 !important;
}

.--m_md-1 {
  margin: 0.375rem !important;
}

.--m_md-2 {
  margin: 0.75rem !important;
}

.--m_md-3 {
  margin: 1.5rem !important;
}

.--m_md-4 {
  margin: 3rem !important;
}

.--m_md-5 {
  margin: 6rem !important;
}

.--m_lg-0 {
  margin: 0 !important;
}

.--m_lg-1 {
  margin: 0.375rem !important;
}

.--m_lg-2 {
  margin: 0.75rem !important;
}

.--m_lg-3 {
  margin: 1.5rem !important;
}

.--m_lg-4 {
  margin: 3rem !important;
}

.--m_lg-5 {
  margin: 6rem !important;
}

.--mt_0 {
  margin-top: 0 !important;
}

.--mt_1 {
  margin-top: 0.375rem !important;
}

.--mt_2 {
  margin-top: 0.75rem !important;
}

.--mt_3 {
  margin-top: 1.5rem !important;
}

.--mt_4 {
  margin-top: 3rem !important;
}

.--mt_5 {
  margin-top: 6rem !important;
}

.--mt_sm-0 {
  margin-top: 0 !important;
}

.--mt_sm-1 {
  margin-top: 0.375rem !important;
}

.--mt_sm-2 {
  margin-top: 0.75rem !important;
}

.--mt_sm-3 {
  margin-top: 1.5rem !important;
}

.--mt_sm-4 {
  margin-top: 3rem !important;
}

.--mt_sm-5 {
  margin-top: 6rem !important;
}

.--mt_md-0 {
  margin-top: 0 !important;
}

.--mt_md-1 {
  margin-top: 0.375rem !important;
}

.--mt_md-2 {
  margin-top: 0.75rem !important;
}

.--mt_md-3 {
  margin-top: 1.5rem !important;
}

.--mt_md-4 {
  margin-top: 3rem !important;
}

.--mt_md-5 {
  margin-top: 6rem !important;
}

.--mt_lg-0 {
  margin-top: 0 !important;
}

.--mt_lg-1 {
  margin-top: 0.375rem !important;
}

.--mt_lg-2 {
  margin-top: 0.75rem !important;
}

.--mt_lg-3 {
  margin-top: 1.5rem !important;
}

.--mt_lg-4 {
  margin-top: 3rem !important;
}

.--mt_lg-5 {
  margin-top: 6rem !important;
}

.--ml_0 {
  margin-left: 0 !important;
}

.--ml_1 {
  margin-left: 0.375rem !important;
}

.--ml_2 {
  margin-left: 0.75rem !important;
}

.--ml_3 {
  margin-left: 1.5rem !important;
}

.--ml_4 {
  margin-left: 3rem !important;
}

.--ml_5 {
  margin-left: 6rem !important;
}

.--ml_sm-0 {
  margin-left: 0 !important;
}

.--ml_sm-1 {
  margin-left: 0.375rem !important;
}

.--ml_sm-2 {
  margin-left: 0.75rem !important;
}

.--ml_sm-3 {
  margin-left: 1.5rem !important;
}

.--ml_sm-4 {
  margin-left: 3rem !important;
}

.--ml_sm-5 {
  margin-left: 6rem !important;
}

.--ml_md-0 {
  margin-left: 0 !important;
}

.--ml_md-1 {
  margin-left: 0.375rem !important;
}

.--ml_md-2 {
  margin-left: 0.75rem !important;
}

.--ml_md-3 {
  margin-left: 1.5rem !important;
}

.--ml_md-4 {
  margin-left: 3rem !important;
}

.--ml_md-5 {
  margin-left: 6rem !important;
}

.--ml_lg-0 {
  margin-left: 0 !important;
}

.--ml_lg-1 {
  margin-left: 0.375rem !important;
}

.--ml_lg-2 {
  margin-left: 0.75rem !important;
}

.--ml_lg-3 {
  margin-left: 1.5rem !important;
}

.--ml_lg-4 {
  margin-left: 3rem !important;
}

.--ml_lg-5 {
  margin-left: 6rem !important;
}

.--mr_0 {
  margin-right: 0 !important;
}

.--mr_1 {
  margin-right: 0.375rem !important;
}

.--mr_2 {
  margin-right: 0.75rem !important;
}

.--mr_3 {
  margin-right: 1.5rem !important;
}

.--mr_4 {
  margin-right: 3rem !important;
}

.--mr_5 {
  margin-right: 6rem !important;
}

.--mr_sm-0 {
  margin-right: 0 !important;
}

.--mr_sm-1 {
  margin-right: 0.375rem !important;
}

.--mr_sm-2 {
  margin-right: 0.75rem !important;
}

.--mr_sm-3 {
  margin-right: 1.5rem !important;
}

.--mr_sm-4 {
  margin-right: 3rem !important;
}

.--mr_sm-5 {
  margin-right: 6rem !important;
}

.--mr_md-0 {
  margin-right: 0 !important;
}

.--mr_md-1 {
  margin-right: 0.375rem !important;
}

.--mr_md-2 {
  margin-right: 0.75rem !important;
}

.--mr_md-3 {
  margin-right: 1.5rem !important;
}

.--mr_md-4 {
  margin-right: 3rem !important;
}

.--mr_md-5 {
  margin-right: 6rem !important;
}

.--mr_lg-0 {
  margin-right: 0 !important;
}

.--mr_lg-1 {
  margin-right: 0.375rem !important;
}

.--mr_lg-2 {
  margin-right: 0.75rem !important;
}

.--mr_lg-3 {
  margin-right: 1.5rem !important;
}

.--mr_lg-4 {
  margin-right: 3rem !important;
}

.--mr_lg-5 {
  margin-right: 6rem !important;
}

.--mb_0 {
  margin-bottom: 0 !important;
}

.--mb_1 {
  margin-bottom: 0.375rem !important;
}

.--mb_2 {
  margin-bottom: 0.75rem !important;
}

.--mb_3 {
  margin-bottom: 1.5rem !important;
}

.--mb_4 {
  margin-bottom: 3rem !important;
}

.--mb_5 {
  margin-bottom: 6rem !important;
}

.--mb_sm-0 {
  margin-bottom: 0 !important;
}

.--mb_sm-1 {
  margin-bottom: 0.375rem !important;
}

.--mb_sm-2 {
  margin-bottom: 0.75rem !important;
}

.--mb_sm-3 {
  margin-bottom: 1.5rem !important;
}

.--mb_sm-4 {
  margin-bottom: 3rem !important;
}

.--mb_sm-5 {
  margin-bottom: 6rem !important;
}

.--mb_md-0 {
  margin-bottom: 0 !important;
}

.--mb_md-1 {
  margin-bottom: 0.375rem !important;
}

.--mb_md-2 {
  margin-bottom: 0.75rem !important;
}

.--mb_md-3 {
  margin-bottom: 1.5rem !important;
}

.--mb_md-4 {
  margin-bottom: 3rem !important;
}

.--mb_md-5 {
  margin-bottom: 6rem !important;
}

.--mb_lg-0 {
  margin-bottom: 0 !important;
}

.--mb_lg-1 {
  margin-bottom: 0.375rem !important;
}

.--mb_lg-2 {
  margin-bottom: 0.75rem !important;
}

.--mb_lg-3 {
  margin-bottom: 1.5rem !important;
}

.--mb_lg-4 {
  margin-bottom: 3rem !important;
}

.--mb_lg-5 {
  margin-bottom: 6rem !important;
}

.--p_0 {
  padding: 0 !important;
}

.--p_1 {
  padding: 0.375rem !important;
}

.--p_2 {
  padding: 0.75rem !important;
}

.--p_3 {
  padding: 1.5rem !important;
}

.--p_4 {
  padding: 3rem !important;
}

.--p_5 {
  padding: 6rem !important;
}

.--p_sm-0 {
  padding: 0 !important;
}

.--p_sm-1 {
  padding: 0.375rem !important;
}

.--p_sm-2 {
  padding: 0.75rem !important;
}

.--p_sm-3 {
  padding: 1.5rem !important;
}

.--p_sm-4 {
  padding: 3rem !important;
}

.--p_sm-5 {
  padding: 6rem !important;
}

.--p_md-0 {
  padding: 0 !important;
}

.--p_md-1 {
  padding: 0.375rem !important;
}

.--p_md-2 {
  padding: 0.75rem !important;
}

.--p_md-3 {
  padding: 1.5rem !important;
}

.--p_md-4 {
  padding: 3rem !important;
}

.--p_md-5 {
  padding: 6rem !important;
}

.--p_lg-0 {
  padding: 0 !important;
}

.--p_lg-1 {
  padding: 0.375rem !important;
}

.--p_lg-2 {
  padding: 0.75rem !important;
}

.--p_lg-3 {
  padding: 1.5rem !important;
}

.--p_lg-4 {
  padding: 3rem !important;
}

.--p_lg-5 {
  padding: 6rem !important;
}

.--pt_0 {
  padding-top: 0 !important;
}

.--pt_1 {
  padding-top: 0.375rem !important;
}

.--pt_2 {
  padding-top: 0.75rem !important;
}

.--pt_3 {
  padding-top: 1.5rem !important;
}

.--pt_4 {
  padding-top: 3rem !important;
}

.--pt_5 {
  padding-top: 6rem !important;
}

.--pt_sm-0 {
  padding-top: 0 !important;
}

.--pt_sm-1 {
  padding-top: 0.375rem !important;
}

.--pt_sm-2 {
  padding-top: 0.75rem !important;
}

.--pt_sm-3 {
  padding-top: 1.5rem !important;
}

.--pt_sm-4 {
  padding-top: 3rem !important;
}

.--pt_sm-5 {
  padding-top: 6rem !important;
}

.--pt_md-0 {
  padding-top: 0 !important;
}

.--pt_md-1 {
  padding-top: 0.375rem !important;
}

.--pt_md-2 {
  padding-top: 0.75rem !important;
}

.--pt_md-3 {
  padding-top: 1.5rem !important;
}

.--pt_md-4 {
  padding-top: 3rem !important;
}

.--pt_md-5 {
  padding-top: 6rem !important;
}

.--pt_lg-0 {
  padding-top: 0 !important;
}

.--pt_lg-1 {
  padding-top: 0.375rem !important;
}

.--pt_lg-2 {
  padding-top: 0.75rem !important;
}

.--pt_lg-3 {
  padding-top: 1.5rem !important;
}

.--pt_lg-4 {
  padding-top: 3rem !important;
}

.--pt_lg-5 {
  padding-top: 6rem !important;
}

.--pl_0 {
  padding-left: 0 !important;
}

.--pl_1 {
  padding-left: 0.375rem !important;
}

.--pl_2 {
  padding-left: 0.75rem !important;
}

.--pl_3 {
  padding-left: 1.5rem !important;
}

.--pl_4 {
  padding-left: 3rem !important;
}

.--pl_5 {
  padding-left: 6rem !important;
}

.--pl_sm-0 {
  padding-left: 0 !important;
}

.--pl_sm-1 {
  padding-left: 0.375rem !important;
}

.--pl_sm-2 {
  padding-left: 0.75rem !important;
}

.--pl_sm-3 {
  padding-left: 1.5rem !important;
}

.--pl_sm-4 {
  padding-left: 3rem !important;
}

.--pl_sm-5 {
  padding-left: 6rem !important;
}

.--pl_md-0 {
  padding-left: 0 !important;
}

.--pl_md-1 {
  padding-left: 0.375rem !important;
}

.--pl_md-2 {
  padding-left: 0.75rem !important;
}

.--pl_md-3 {
  padding-left: 1.5rem !important;
}

.--pl_md-4 {
  padding-left: 3rem !important;
}

.--pl_md-5 {
  padding-left: 6rem !important;
}

.--pl_lg-0 {
  padding-left: 0 !important;
}

.--pl_lg-1 {
  padding-left: 0.375rem !important;
}

.--pl_lg-2 {
  padding-left: 0.75rem !important;
}

.--pl_lg-3 {
  padding-left: 1.5rem !important;
}

.--pl_lg-4 {
  padding-left: 3rem !important;
}

.--pl_lg-5 {
  padding-left: 6rem !important;
}

.--pr_0 {
  padding-right: 0 !important;
}

.--pr_1 {
  padding-right: 0.375rem !important;
}

.--pr_2 {
  padding-right: 0.75rem !important;
}

.--pr_3 {
  padding-right: 1.5rem !important;
}

.--pr_4 {
  padding-right: 3rem !important;
}

.--pr_5 {
  padding-right: 6rem !important;
}

.--pr_sm-0 {
  padding-right: 0 !important;
}

.--pr_sm-1 {
  padding-right: 0.375rem !important;
}

.--pr_sm-2 {
  padding-right: 0.75rem !important;
}

.--pr_sm-3 {
  padding-right: 1.5rem !important;
}

.--pr_sm-4 {
  padding-right: 3rem !important;
}

.--pr_sm-5 {
  padding-right: 6rem !important;
}

.--pr_md-0 {
  padding-right: 0 !important;
}

.--pr_md-1 {
  padding-right: 0.375rem !important;
}

.--pr_md-2 {
  padding-right: 0.75rem !important;
}

.--pr_md-3 {
  padding-right: 1.5rem !important;
}

.--pr_md-4 {
  padding-right: 3rem !important;
}

.--pr_md-5 {
  padding-right: 6rem !important;
}

.--pr_lg-0 {
  padding-right: 0 !important;
}

.--pr_lg-1 {
  padding-right: 0.375rem !important;
}

.--pr_lg-2 {
  padding-right: 0.75rem !important;
}

.--pr_lg-3 {
  padding-right: 1.5rem !important;
}

.--pr_lg-4 {
  padding-right: 3rem !important;
}

.--pr_lg-5 {
  padding-right: 6rem !important;
}

.--pb_0 {
  padding-bottom: 0 !important;
}

.--pb_1 {
  padding-bottom: 0.375rem !important;
}

.--pb_2 {
  padding-bottom: 0.75rem !important;
}

.--pb_3 {
  padding-bottom: 1.5rem !important;
}

.--pb_4 {
  padding-bottom: 3rem !important;
}

.--pb_5 {
  padding-bottom: 6rem !important;
}

.--pb_sm-0 {
  padding-bottom: 0 !important;
}

.--pb_sm-1 {
  padding-bottom: 0.375rem !important;
}

.--pb_sm-2 {
  padding-bottom: 0.75rem !important;
}

.--pb_sm-3 {
  padding-bottom: 1.5rem !important;
}

.--pb_sm-4 {
  padding-bottom: 3rem !important;
}

.--pb_sm-5 {
  padding-bottom: 6rem !important;
}

.--pb_md-0 {
  padding-bottom: 0 !important;
}

.--pb_md-1 {
  padding-bottom: 0.375rem !important;
}

.--pb_md-2 {
  padding-bottom: 0.75rem !important;
}

.--pb_md-3 {
  padding-bottom: 1.5rem !important;
}

.--pb_md-4 {
  padding-bottom: 3rem !important;
}

.--pb_md-5 {
  padding-bottom: 6rem !important;
}

.--pb_lg-0 {
  padding-bottom: 0 !important;
}

.--pb_lg-1 {
  padding-bottom: 0.375rem !important;
}

.--pb_lg-2 {
  padding-bottom: 0.75rem !important;
}

.--pb_lg-3 {
  padding-bottom: 1.5rem !important;
}

.--pb_lg-4 {
  padding-bottom: 3rem !important;
}

.--pb_lg-5 {
  padding-bottom: 6rem !important;
}

/**
 * Utility - Text
 */
.--text_left {
  text-align: left !important;
}
.--text_center {
  text-align: center !important;
}
.--text_right {
  text-align: right !important;
}
.--text_justify {
  text-align: justify !important;
}
@media (min-width: 600px) {
  .--text_sm-left {
    text-align: left !important;
  }
  .--text_sm-center {
    text-align: center !important;
  }
  .--text_sm-right {
    text-align: right !important;
  }
  .--text_sm-justify {
    text-align: justify !important;
  }
}
@media (min-width: 800px) {
  .--text_md-left {
    text-align: left !important;
  }
  .--text_md-center {
    text-align: center !important;
  }
  .--text_md-right {
    text-align: right !important;
  }
  .--text_md-justify {
    text-align: justify !important;
  }
}
@media (min-width: 1000px) {
  .--text_lg-left {
    text-align: left !important;
  }
  .--text_lg-center {
    text-align: center !important;
  }
  .--text_lg-right {
    text-align: right !important;
  }
  .--text_lg-justify {
    text-align: justify !important;
  }
}

/**
 * Utility - Valid
 */
@media (min-width: 800px) {
  .--valid_md {
    display: none;
  }
}

/**
 * Utility - Visibility
 */
@media (max-width: 599.9px) {
  .--visible_sm {
    display: none !important;
  }
}
@media (max-width: 799.9px) {
  .--visible_md {
    display: none !important;
  }
}
@media (max-width: 999.9px) {
  .--visible_lg {
    display: none !important;
  }
}