/**
 * Layout - Header
 */

.header {
  @include row();
  background-color: themeColor("secondary");

  @media (min-width: breakpoint("md")) {
    height: min(100vh, 48rem);
  }

  &__content {
    @include container();
    padding-top: space(4);
    padding-bottom: space(4);
  }

  &__titleWrap {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 5% 50% 5% 18%;
  }

  &__title {
    grid-row: 1;
    grid-column: 3;
  }

  &__subTitle {
    grid-row: 1;
    grid-column: 5;
  }
}
